.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &.submit {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 3em;
    transition: all .3s;
    color: #fff;
    background: #46237A;
    border: none;

    &:hover {
      background: var(--green-b);
      border: none;
      color: #fff;
    }

    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
