.content {
  gap: 1.5em;
  display: grid;
}

.modal {
  border: none;
  border-radius: 12px;
  position: relative;
  min-width: 280px;

  &::backdrop {
    background: #3338;
  }

  &[open] {
    animation: fadein .3s ease-in forwards;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  background: none;
  border: none;
  outline: none;
  font-size: 24px;
  line-height: 0.5;
  transition: all .3s;
  border-radius: 8px;
  margin: 4px;
  cursor: pointer;

  &:hover {
    background: #6495ed66;
  }
}

.heading {
  margin-bottom: 2em;
}
